---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <div>
    <p class="text-3xl w-full mb-5">As a programmer, I have a passion for technology and the ability to transform ideas into functional software. <br> My love of code drives me to continuously learn and improve my skills, and I enjoy the process of solving complex problems through programming.

      <br><br>I am proficient in several programming languages, including Lua and PHP. I am always eager to learn more and stay up-to-date with the latest technologies.

      <br><br>Whether working on a personal project or collaborating with a team, I thrive in environments where I can use my programming expertise to make a positive impact. My love and dedication to coding make me a valuable asset in the world of technology.

      </p>
  </div>

</BaseLayout>
