---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Tichu AI"
    img="/tichu-daddy.webp"
    desc="An AI to play the populat card game 'tichu' with."
    url="https://github.com/PegosStelios/tichu-daddy"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bash Scripts"
    img="/bash-scripts.webp"
    desc="A collection of time saving bash scripts."
    url="https://github.com/PegosStelios/bash-scripts"
    badge="FOSS"
  />
</BaseLayout>
